.site-layout-background {
  background: #fff;
}

.site-layout-content-size {
  padding: 24px;
  margin: 0;
  height: 100%;
  min-height: 280px;
}

.site-layout-content-padding {
  padding: 24px;
  margin: 0;
}

.bck-white {
  background: white;
}

.site-page-header-ghost-wrapper {
  /*  padding: 24px; */
  margin-bottom: 12px;
  background-color: #ffffff;
}

.site-page-border {
  border: 1px solid rgb(235, 237, 240);
}
